---
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryList from "../../components/CategoryList.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 4 });
}

type Props = {
  page: Page;
};

const { page } = Astro.props;

const posts = page.data as CollectionEntry<"posts">[];
const allCategories = posts.flatMap((post) => post.data.categories);
const categories = Array.from(new Set(allCategories));
---

<Layout
  title="Blog - Rythm Nation"
  description="Read and learn from Music Products and Enthusiasts">
  <Main>
    <H1 text="Rythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-12 max-sm:mb-14">
      Join the Community and learn from Music Producers and Enthusiasts
    </p>
    <CategoryList categories={categories} />
    <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
    <PostList posts={posts} />
    <div class="mt-5">
      <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
    </div>
  </Main>
</Layout>
